<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사람인 스크랩핑</title>
</head>
<body>
<h1>스크랩핑 한 데이터 모아보기</h1>
<form action="/scraping" method="get">
    keyword :  <input type="text" id="keyword" name="keyword"><br><br>
    page : <input type="text" id="allpage" name="allpage"><br><br>
    경력 선택 : <input type="radio" name="career" class="career" value="1"> 신입
    <input type="radio" name="career" class="career" value="2">경력
    <input type="radio" name="career" class="career" value="3">전체

    <input type="submit">
</form>
</body>
</html>