<div class="item_recruit" value="45638789" data-data_layer="keyword_free|paid_n_quick">

  <div class="area_job">
    <h2 class="job_tit">
      <a target="_blank" title="[특별유급휴가10일] 자바(Java) 개발 신입 및 경력 채용" onclick="try{s_trackApply(this, 'search', 'generic')}catch(e){};" rel="" class="data_layer" data-data_layer="keyword_free|paid_n" href="/zf_user/jobs/relay/view?view_type=search&amp;rec_idx=45638789&amp;location=ts&amp;searchword=java&amp;searchType=search&amp;paid_fl=n&amp;search_uuid=8d411e51-2a5f-44ef-a81b-86fb9da62f96"><span>[특별유급휴가10일] 자바(<b>Java</b>) 개발 신입 및 경력 채용</span></a>             </h2>
    <div class="toolTipWrap wrap_scrap">
      <a style="cursor:pointer" class="icon_scrap_star" onclick="Saramin.btnJob('scrap',this,'','list');" scraped="n" rec_idx="45638789" data-pattern="{&quot;t_category&quot;:&quot;search&quot;,&quot;t_content&quot;:&quot;generic&quot;,&quot;t_scnid&quot;:&quot;&quot;,&quot;search_uuid&quot;:&quot;8d411e51-2a5f-44ef-a81b-86fb9da62f96&quot;,&quot;t_ref&quot;:&quot;search&quot;}" title="스크랩" onmouseover="Saramin.favorTooltip(this, 'on');" onmouseout="Saramin.favorTooltip(this, 'off');">
        <img src="//www.saraminimage.co.kr/common/bul_sri_star.png" alt="스크랩">
      </a>
      <div class="toolTip sri_tooltip_scrap">
        <span class="tail tail_bottom_center"></span>
        <div class="toolTipCont txtCenter">스크랩</div>
      </div>
    </div>
    <div class="job_date">
      <span class="date">~ 05/31(수)</span>
      <button class="sri_btn_xs" title="클릭하면 입사지원할 수 있는 창이 뜹니다." onclick="try{quickApplyForm('45638789','','t_category=search&amp;t_content=generic&amp;t_scnid=&amp;search_uuid=8d411e51-2a5f-44ef-a81b-86fb9da62f96&amp;t_ref=search', 'searchType=search&amp;searchword=java'); return false;} catch (e) {}; return false;" onmousedown="try{n_trackEvent('apply','list','quick_apply');}catch(e){}"><span class="sri_btn_immediately">입사지원</span></button>            </div>
    <div class="job_condition">
      <span><a target="_blank" href="/zf_user/area-recruit/area-list/area/102000/areamode/mcode">경기</a>  <a target="_blank" href="/zf_user/area-recruit/area-list/area/102320">안양시</a></span> <span>신입·경력</span> <span>초대졸↑</span> <span>정규직</span>             </div>
    <div class="job_sector">
      <b><a target="_blank" href="/zf_user/jobs/list/job-category?cat_kewd=240">JSP</a></b>, <b><a target="_blank" href="/zf_user/jobs/list/job-category?cat_kewd=235">Java</a></b>, <a target="_blank" href="/zf_user/jobs/list/job-category?cat_kewd=236">Javascript</a>, <a target="_blank" href="/zf_user/jobs/list/job-category?cat_kewd=287">Servlet</a>, <a target="_blank" href="/zf_user/jobs/list/job-category?cat_kewd=87">웹개발</a> 외                <span class="job_day">수정일 23/05/22</span>                            </div>
  </div>
  <div class="area_corp">
    <strong class="corp_name">
      <a href="/zf_user/company-info/view?csn=ME9wQXZHRUJ0VVRlTnZxd3IwYWkyZz09" target="_blank" class="track_event data_layer" data-track_event="total_search|search_recruit|com_info_btn" data-data_layer="recruit_com|com_name">
        (주)비즈웰                        </a>

    </strong>
    <div class="toolTipWrap wrap_interested_corp"><button type="button" csn="ME9wQXZHRUJ0VVRlTnZxd3IwYWkyZz09" title="관심기업 등록" del_fl="n" aria-pressed="false" class="interested_corp" onclick="try{Saramin.btnJob('favor', this, '', 'list');}catch(e){}" onmouseover="Saramin.favorTooltip(this, 'on');" onmouseout="Saramin.favorTooltip(this, 'off');" first_nudge="off"><span>관심기업 등록</span></button><div class="toolTip"><span class="tail tail_bottom_center"></span><div class="toolTipCont txtCenter">관심기업 등록</div></div></div>                    <div class="area_btn" value="1148196537">
    <div class="area_corp_info">
      <a href="/zf_user/company-info/view?csn=ME9wQXZHRUJ0VVRlTnZxd3IwYWkyZz09" target="_blank" class="btn_info track_event data_layer company_popup" data-track_event="total_search|search_recruit|com_info_btn" data-data_layer="recruit_com|com_info">
        기업정보
      </a>
      <div class="lpop_corp_info area_preview" style="display: none;"><strong class="preview_tit">기업정보</strong>
        <div class="wrap_head">
          <strong class="corp_name">(주)비즈웰</strong>
          <span class="cnt_ongoing">진행중 채용공고 <a class="cnt view_recruit_list" value="1148196537">1</a>건</span>
        </div>
        <table class="corp_info">
          <tbody>
          <tr>
            <th scope="row">설립일</th>
            <td>
              2000년 03월 17일                        <span class="basis">(업력 24년차)</span>
            </td>
          </tr>
          <tr>
            <th scope="row">대표자명</th>
            <td>신재복</td>
          </tr>
          <tr>
            <th scope="row">업종</th>
            <td>시스템 소프트웨어 개발 및 공급업</td>
          </tr>
          <tr>
            <th scope="row">기업주소</th>
            <td>경기 안양시 동안구 학의로 282, 비동1915호,1916호,1917호,1918호,1919호,1920호</td>
          </tr>
          <tr>
            <th scope="row">합격자료</th>
            <td>
              <a href="/zf_user/public-recruit/interview-list?company_nm=%28%EC%A3%BC%29%EB%B9%84%EC%A6%88%EC%9B%B0" target="_blank" class="btn_smaller_type01">면접질문･후기
                <span class="cnt">2</span>건</a>
            </td>
          </tr>
          </tbody>
        </table></div>
    </div>
    <button type="button" class="btn_recruit track_event" data-csn_encrypt="ME9wQXZHRUJ0VVRlTnZxd3IwYWkyZz09" data-track_event="total_search|search_recruit|com_recruit_collect_btn">
      공고 모아보기 +
    </button>
  </div>
  </div>
  <div class="similar_recruit"></div>
</div>