<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MY PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="#">
    <h1>My Page</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2">회원 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>사용자명</th>
            <th>탈퇴 여부</th>
        </tr>
        <tr>
            <td th:text="${user.username}"></td>
            <td>
                <form th:action="@{/usr/deleteUser}" method="post">
                    <button type="submit">탈퇴</button>

                </form>
            </td>


        </tr>

        </tbody>
    </table>
    <h2>Scrap List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Link</th>
            <th>Company</th>
            <th>Deadline</th>
            <th>Experience</th>
            <th>Requirement</th>
            <th>Job Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="scrap : ${scraps}">
            <td th:text="${scrap.title}"></td>
            <td>
                <a th:href="${scrap.href}" target="_blank">Visit Website</a>
            </td>
            <td th:text="${scrap.company}"></td>
            <td th:text="${scrap.deadline}"></td>
            <td th:text="${scrap.experience}"></td>
            <td th:text="${scrap.requirement}"></td>
            <td th:text="${scrap.jobtype}"></td>
            <td>
                <form th:action="@{/usr/deleteScrap}" method="post">
                    <input type="hidden" name="scrapId" th:value="${scrap.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>